.section-app.single {
	position: absolute;
	right: -1500px;
	top: 0;
	overflow: auto; 
	.transition(all, 0.4, ease, 0.1);
	background-color: #fff;
	a.volver {
		display: block;
		position: absolute;
		top: 10px;
		z-index: 1;
		right: 12px;
		text-align: center;
		width: 50px;
		height: 50px;
		background-color: #ececec;
		color: #666;
		border-radius: 4px;
		.sombra(2,2,7,0,0.3);
		.font-size(0.9);
		font-family: @fuenteEspecial;
		.transition(all, 0.2);
		&:active {
			outline: none;
			.sombra(0,0,0,0,0);
		}
		&::before {
			content: '';
			display: block;
			width: 37px;
			height: 30px;
			position: absolute;
			top: 50%;
			left: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 70%;
			.transform(translateY(-50%) translateX(-50%));
			background-image: url('@{imgurl}volver.png');
		}
	}
	.banner {
		width: calc(100% - 2px);
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		height: 55vh;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		position: relative;
		margin-bottom: -27px;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			.transform(translateX(-50%) translateY(-50%));
			max-width: 110%;
		}
		.title {
			position: absolute;
			top: 40%;
			left: 50%;
			.transform(translateY(-50%) translateX(-50%));
			color: #fff;
			font-weight: 900;
			.font-size(3);
			margin: 0;
			text-align: center;
		}
	}
	.content {
		text-align: center;
		.reserva {
			width: 100%;
			text-align: center;
			a.r {
				display: inline-block;
				vertical-align: middle;
				padding-top: 7px;
				padding-bottom: 7px;
				padding-left: 20%;
				padding-right: 20%;
				text-align: center;
				margin: 5px;
				background-color: #ececec;
				color: #666;
				border-radius: 50px;
				.sombra(2,2,7,0,0.3);
				.font-size(1.1);
				font-family: @fuenteEspecial;
				position: relative;
				.transition(all, 0.2);
				&:active {
					outline: none;
					.sombra(0,0,0,0,0);
				}
			}
			a.b {
				display: inline-block;
				vertical-align: middle;
				width: 45px;
				height: 45px;
				text-align: center;
				border-radius: 50%;
				margin: 5px 10px;
				background-color: #ececec;
				color: #666;
				font-weight: 600;
				border-radius: 50px;
				.sombra(2,2,7,0,0.3);
				.font-size(2);
				font-family: @fuenteEspecial;
				position: relative;
				.transition(all, 0.2);
				&:active {
					outline: none;
					.sombra(0,0,0,0,0);
				}

				.love.active {
					background-color: red;
					&::before, &::after {
						background-color: red;
					}
				}

				.love {
					display: block;
					width: 12px;
					height: 12px;
					position: absolute;
					top: 55%;
					left: 50%;
					.transform(translateX(-50%) translateY(-50%) rotate(45deg));
					background: #666;
					.transition(all, 0.2);
					&::before, &::after {
					  .transition(all, 0.2);
					  content: "";
					  height: 12px;
					  width: 12px;
					  border-radius: 50%;
					  background: #666;
					  position: absolute;
					}
					&::before {
					  top: 0;
					  left: -8px;
					}

					&::after {
					  top: -8px;
					  right: 0;
					}
				}


			}
		}
		.text {
			max-width: 88%;
			margin: 10px auto;
			text-align: left;
			.t2 {
				.transition(all, 0.4, ease, 0.1);
				width: 100%;
				display: none;
			}
		}
		.conocer {
			display: inline-block;
			vertical-align: middle;
			padding-top: 7px;
			padding-bottom: 7px;
			padding-left: 10%;
			padding-right: 10%;
			text-align: center;
			margin: 15px auto 0 auto;
			background-color: #ececec;
			color: #666;
			border-radius: 50px;
			.sombra(2,2,7,0,0.3);
			.font-size(1.1);
			font-family: @fuenteEspecial;
			position: relative;
			.transition(all, 0.2);
			&:active {
				outline: none;
				.sombra(0,0,0,0,0);
			}
		}
	}

	.imagenes {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		img {
			display: inline-block;
			max-width: 100px;
			&:first-child {
				margin-right: 15px; 
			}
			&:last-child {
				margin-left: 15px; 
			}
		}
	}
	table{
		width: 100%;
		text-align: center;
		thead{
			background: #0eb8ff;
			color: white;
			td{
				padding: 5px 0;
			}
		}
		tbody{
			td{
				border: 1px solid black;
				padding: 5px 0;
			}
		}
	}
}