// ##############################
// VARIABLES LESS
// ##############################
// colores
@primario: #009ada;
@bg-app: #D6D7DB;
@oscuro: #28333c;
@btn-home: #b0afb5;
@text-home: #444242;
// @bg-app: darken(@primario, 2);
@secundario: #313233;
@claro: #fff;
@terciario: #111;
@danger: #cb321f;
@oceano: #068390;
// tamaños
@anchoMax: 762px;
@alturaHeader: 75px;
@fontSize: 14px;
@anchoPanelLateralControles: 17%;
@alturaBotonesLaterales: 11vh;

// fuentes
@fonturl: '../font/';
@fuenteEspecial: 'Poppins';
@fuenteComun: 'Poppins';

@imgurl: '../img/';

@font-face {
    font-family: 'Poppins';
    src: url('@{fonturl}Poppins-Regular.woff') format('woff');
         // url('@{fonturl}Poppins-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}