// ##############################
// MIXINS LESS 
// ##############################
.transition(@propiedad, @duracion, @funcion, @retardo) {
    -webkit-transition: @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s";
    -moz-transition:    @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s";
    -o-transition:      @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s";
    transition:         @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s";
}
.transition(@propiedad, @duracion, @retardo) {
    -webkit-transition: @propiedad ~"@{duracion}s" ~"@{retardo}s";
    -moz-transition:    @propiedad ~"@{duracion}s" ~"@{retardo}s";
    -o-transition:      @propiedad ~"@{duracion}s" ~"@{retardo}s";
    transition:         @propiedad ~"@{duracion}s" ~"@{retardo}s";
}
.transition(@propiedad, @duracion, @funcion) {
    -webkit-transition: @propiedad ~"@{duracion}s" @funcion;
    -moz-transition:    @propiedad ~"@{duracion}s" @funcion;
    -o-transition:      @propiedad ~"@{duracion}s" @funcion;
    transition:         @propiedad ~"@{duracion}s" @funcion;
}
.transition(@propiedad, @duracion) {
    -webkit-transition: @propiedad ~"@{duracion}s";
    -moz-transition:    @propiedad ~"@{duracion}s";
    -o-transition:      @propiedad ~"@{duracion}s";
    transition:         @propiedad ~"@{duracion}s";
}
.transition(@propiedad, @duracion, @funcion, @retardo, @propiedad2, @duracion2, @funcion2, @retardo2) {
    -webkit-transition: @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s", @propiedad2 ~"@{duracion2}s" @funcion2 ~"@{retardo2}s";
    -moz-transition:    @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s", @propiedad2 ~"@{duracion2}s" @funcion2 ~"@{retardo2}s";
    -o-transition:      @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s", @propiedad2 ~"@{duracion2}s" @funcion2 ~"@{retardo2}s";
    transition:         @propiedad ~"@{duracion}s" @funcion ~"@{retardo}s", @propiedad2 ~"@{duracion2}s" @funcion2 ~"@{retardo2}s";
}
.sombra(@ejeX: 0, @ejeY: 0, @desenf: 4, @propaga: 0, @alpha: 0.5) {
    -webkit-box-shadow: ~"@{ejeX}px @{ejeY}px @{desenf}px @{propaga}px rgba(0,0,0,@{alpha})";
    -moz-box-shadow:    ~"@{ejeX}px @{ejeY}px @{desenf}px @{propaga}px rgba(0,0,0,@{alpha})";
    box-shadow:         ~"@{ejeX}px @{ejeY}px @{desenf}px @{propaga}px rgba(0,0,0,@{alpha})";
}
.Invesombra(@ejeX: 0, @ejeY: 0, @desenf: 4, @propaga: 0, @alpha: 0.5) {
    -webkit-box-shadow: ~"@{ejeX}px @{ejeY}px @{desenf}px @{propaga}px rgba(255,255,255,@{alpha})";
    -moz-box-shadow:    ~"@{ejeX}px @{ejeY}px @{desenf}px @{propaga}px rgba(255,255,255,@{alpha})";
    box-shadow:         ~"@{ejeX}px @{ejeY}px @{desenf}px @{propaga}px rgba(255,255,255,@{alpha})";
}
.border-radius(@radio : 0px) {
    -webkit-border-radius:  @radio;
    border-radius:          @radio;
}
.background-degradado {
    background-image: -webkit-linear-gradient(0deg, fade(@primario, 30%), @claro);
    background-image: -moz-linear-gradient(0deg, fade(@primario, 30%), @claro);
    background-image: -ms-linear-gradient(0deg, fade(@primario, 30%), @claro);
    background-image: -o-linear-gradient(0deg, fade(@primario, 30%), @claro);
    background-image: -webkit-gradient(linear, bottom top, top top, from(fade(@primario, 30%)), to(@claro));
    background-image: -webkit-linear-gradient(left, fade(@primario, 30%), @claro);
    background-image: -o-linear-gradient(left, fade(@primario, 30%), @claro);
    background-image: linear-gradient(0deg, fade(@primario, 30%), @claro);
}
.background-app {
    background: -moz-linear-gradient(top, @claro -3%, @bg-app 45%, @bg-app 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, @claro), color-stop(45%, @bg-app), color-stop(100%, @bg-app));
    background: -webkit-linear-gradient(top, @claro -3%, @bg-app 45%, @bg-app 100%);
    background: -o-linear-gradient(top, @claro -3%, @bg-app 45%, @bg-app 100%);
    background: -ms-linear-gradient(top, @claro -3%, @bg-app 45%, @bg-app 100%);
    background: linear-gradient(to bottom, @claro -3%, @bg-app 45%, @bg-app 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.translate-x(@mover) {
    -webkit-transform:  translateX(@mover);
    -moz-transform:     translateX(@mover);
    -ms-transform:      translateX(@mover);
    -o-transform:       translateX(@mover);
    transform:          translateX(@mover);
}
.translate-y(@mover) {
    -webkit-transform:  translateY(@mover);
    -moz-transform:     translateY(@mover);
    -ms-transform:      translateY(@mover);
    -o-transform:       translateY(@mover);
    transform:          translateY(@mover);
}
.translate(@mover-x, @mover-y) {
    -webkit-transform:  translate(@mover-x, @mover-y);
    -moz-transform:     translate(@mover-x, @mover-y);
    -ms-transform:      translate(@mover-x, @mover-y);
    -o-transform:       translate(@mover-x, @mover-y);
    transform:          translate(@mover-x, @mover-y);
}
.transform(@propiedad) {
    -webkit-transform:  @propiedad;
    -moz-transform:     @propiedad;
    -ms-transform:      @propiedad;
    -o-transform:       @propiedad;
    transform:          @propiedad;
}
.anchoT {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
}
.btn-especial {
    background-image: -webkit-linear-gradient(0deg, @primario, darken(@primario, 10%));
    background-image: -moz-linear-gradient(0deg, @primario, darken(@primario, 10%));
    background-image: -ms-linear-gradient(0deg, @primario, darken(@primario, 10%));
    background-image: -o-linear-gradient(0deg, @primario, darken(@primario, 10%));
    background-image: -webkit-gradient(linear, bottom top, top top, from(@primario), to(darken(@primario, 10%)));
    background-image: -webkit-linear-gradient(left, @primario, darken(@primario,10%));
    background-image: -o-linear-gradient(left, @primario, darken(@primario, 10%));
    background-image: linear-gradient(0deg, @primario, darken(@primario, 10%));
    display: inline-block;
    padding: 10px 30px;
    .font-size(1.3);
    color: @claro !important;
    .sombra();
    .border-radius(50px);
    .transition(all, 0.3);
    &:active, &:focus{
        background-image: -webkit-linear-gradient(0deg, lighten(@primario, 10%), @primario);
        background-image: -moz-linear-gradient(0deg, lighten(@primario, 10%), @primario);
        background-image: -ms-linear-gradient(0deg, lighten(@primario, 10%), @primario);
        background-image: -o-linear-gradient(0deg, lighten(@primario, 10%), @primario);
        background-image: -webkit-gradient(linear, bottom top, top top, from(lighten(@primario, 10%)), to(@primario));
        background-image: -webkit-linear-gradient(left, lighten(@primario, 10%), @primario);
        background-image: -o-linear-gradient(left, lighten(@primario, 10%), @primario);
        background-image: linear-gradient(0deg, lighten(@primario, 10%), @primario);
        color: @claro;
        .transition(all, 0.3);
    }
    &::before {
        display: inline-block;
        margin-right: 10px;
    }
}
.btn-especial-danger {
    background-image: -webkit-linear-gradient(0deg, @danger, darken(@danger, 10%));
    background-image: -moz-linear-gradient(0deg, @danger, darken(@danger, 10%));
    background-image: -ms-linear-gradient(0deg, @danger, darken(@danger, 10%));
    background-image: -o-linear-gradient(0deg, @danger, darken(@danger, 10%));
    background-image: -webkit-gradient(linear, bottom top, top top, from(@danger), to(darken(@danger, 10%)));
    background-image: -webkit-linear-gradient(left, @danger, darken(@danger,10%));
    background-image: -o-linear-gradient(left, @danger, darken(@danger, 10%));
    background-image: linear-gradient(0deg, @danger, darken(@danger, 10%));
    display: inline-block;
    padding: 10px 30px;
    .font-size(1.3);
    color: @claro !important;
    .sombra();
    .border-radius(50px);
    .transition(all, 0.3);
    &:active, &:focus{
        background-image: -webkit-linear-gradient(0deg, lighten(@danger, 10%), @danger);
        background-image: -moz-linear-gradient(0deg, lighten(@danger, 10%), @danger);
        background-image: -ms-linear-gradient(0deg, lighten(@danger, 10%), @danger);
        background-image: -o-linear-gradient(0deg, lighten(@danger, 10%), @danger);
        background-image: -webkit-gradient(linear, bottom top, top top, from(lighten(@danger, 10%)), to(@danger));
        background-image: -webkit-linear-gradient(left, lighten(@danger, 10%), @danger);
        background-image: -o-linear-gradient(left, lighten(@danger, 10%), @danger);
        background-image: linear-gradient(0deg, lighten(@danger, 10%), @danger);
        color: @claro;
        .transition(all, 0.3);
    }
    &::before {
        display: inline-block;
        margin-right: 10px;
    }
}
.btn-especial-navie {
    background-image: -webkit-linear-gradient(0deg, @oscuro, darken(@oscuro, 10%));
    background-image: -moz-linear-gradient(0deg, @oscuro, darken(@oscuro, 10%));
    background-image: -ms-linear-gradient(0deg, @oscuro, darken(@oscuro, 10%));
    background-image: -o-linear-gradient(0deg, @oscuro, darken(@oscuro, 10%));
    background-image: -webkit-gradient(linear, bottom top, top top, from(@oscuro), to(darken(@oscuro, 10%)));
    background-image: -webkit-linear-gradient(left, @oscuro, darken(@oscuro,10%));
    background-image: -o-linear-gradient(left, @oscuro, darken(@oscuro, 10%));
    background-image: linear-gradient(0deg, @oscuro, darken(@oscuro, 10%));
    display: inline-block;
    padding: 10px 30px;
    .font-size(1.3);
    color: @claro !important;
    .sombra();
    .border-radius(50px);
    .transition(all, 0.3);
    &:active, &:focus {
        background-image: -webkit-linear-gradient(0deg, lighten(@oscuro, 10%), @oscuro);
        background-image: -moz-linear-gradient(0deg, lighten(@oscuro, 10%), @oscuro);
        background-image: -ms-linear-gradient(0deg, lighten(@oscuro, 10%), @oscuro);
        background-image: -o-linear-gradient(0deg, lighten(@oscuro, 10%), @oscuro);
        background-image: -webkit-gradient(linear, bottom top, top top, from(lighten(@oscuro, 10%)), to(@oscuro));
        background-image: -webkit-linear-gradient(left, lighten(@oscuro, 10%), @oscuro);
        background-image: -o-linear-gradient(left, lighten(@oscuro, 10%), @oscuro);
        background-image: linear-gradient(0deg, lighten(@oscuro, 10%), @oscuro);
        color: @claro;
        .transition(all, 0.3);
    }
    &::before {
        display: inline-block;
        margin-right: 10px;
    }
}
.btn {
    display: inline-block;
    background-color: @primario;
    padding: 10px 20px;
    color: @claro;
    .sombra(0, 0, 3, 1, 0.5);
    .border-radius(2px);
    .transition(all, 0.3);
    &:active {
        background-color: lighten(@primario, 10%);
        .transition(all, 0.3);
    }
}
.btn.Danger {
    background-color: #dd4b39;
    .transition(all, 0.3);
    &:active {
        background-color: lighten(#dd4b39, 10%);
        .transition(all, 0.3);
    }
}
.font-size(@size: 1) {
    @pixel : @size * @fontSize;
    font-size: @pixel;
    font-size: ~"@{size}rem";
}

// colores de widgets
.wg-navie { background-color: #181d22; }
.wg-ocean { background-color: @oceano; }
.wg-mora { background-color: #665c84; }