// Variables y Reset
@import "base.less";

// mixins
@import "mixins.less";

// ++++++++++++++++++++++++++
// SPASH INICIO APP
// ++++++++++++++++++++++++++
@keyframes SPASH {
    0% { opacity: 1;}
    80%{display: none;}
    100% { opacity: 0; z-index:-10; display: none !important; background: white;}
}

body{
    position: relative;
    background-color: #04101a;
    height: 100vh;
    overflow: hidden;
    animation: SPASH 0.5s forwards;
    animation-delay: 5.5s;  
}
html {
    overflow: hidden;
}
.splash {
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    
    background-color: #04101a;
    width: 100%;
    display: block;
    z-index: 1000;
    animation: SPASH 0.5s forwards;
    animation-delay: 5.5s;  
     
    svg {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // .transform(translateX(-50%) translateY(-50%));
        margin-left: 50%;
        transform: translateX(-50%);
        width: 60%;
        
        

        .comun {
            stroke-dashoffset: 0;
            stroke-width: 20px;
            stroke: lighten(@primario, 15%);
            fill: lighten(@primario, 15%);
        }

        .comun2 {
            stroke-dashoffset: 0;
            stroke-width: 20px;
            stroke: @claro;
            fill: @claro;
        }

        .comun3 {
            fill: transparent;    
        }

        @keyframes animacionPunto {
            0% {fill: transparent;}
            100% {fill: lighten(@primario, 15%);}
        }


        // stilos del Spash
        // ----------------------
        .sp-p1, .sp-p2, .sp-p3, .sp-p4, .sp-p5, .sp-p6 {
            .comun3;
        }
        .sp-p1 {
            animation: animacionPunto 0.5s forwards;
            animation-delay: 2s;   
        }
        .sp-p2 {
            animation: animacionPunto 0.5s forwards;
            animation-delay: 2.25s;
        }
        .sp-p3 {
            animation: animacionPunto 0.5s forwards;
            animation-delay: 2.5s;  
        }
        .sp-p4 {
            animation: animacionPunto 0.5s forwards;
            animation-delay: 2.75s;
        }
        .sp-p5 {
            animation: animacionPunto 0.5s forwards;
            animation-delay: 3s;
        }
        .sp-p6 {
            animation: animacionPunto 0.5s forwards;
            animation-delay: 3.25s;   
        }

        // estilo D
        .sp-d {
            .comun;
            stroke-dasharray: 3950;
            animation: animacionD 2s linear; 
        }
        @keyframes animacionD {
            0% {stroke-dashoffset: 3950; fill: transparent;}
            85% {fill: transparent;}
            99% {fill: lighten(@primario, 15%);}
            100% {stroke-dashoffset: 0;}
        }

        // estilo I
        .sp-i {
            .comun;
            stroke-dasharray: 2950;
            animation: animacionI 2s linear; 
        }
        @keyframes animacionI {
            0% {stroke-dashoffset: 2950; fill: transparent;}
            85% {fill: transparent;}
            99% {fill: lighten(@primario, 15%);}
            100% {stroke-dashoffset: 0;}
        }


        // estilo S
        .sp-s {
            .comun2;
            stroke-dasharray: 3600;
            animation: animacionS 2s linear; 
        }
        @keyframes animacionS {
            0% {stroke-dashoffset: 3600; fill: transparent;}
            85% {fill: transparent;}
            99% {fill: @claro;}
            100% {stroke-dashoffset: 0;}
        }

        // estilo E
        .sp-e {
            .comun2;
            stroke-dasharray: 3150;
            animation: animacionE 2s linear; 
        }
        @keyframes animacionE {
            0% {stroke-dashoffset: 3150; fill: transparent;}
            85% {fill: transparent;}
            99% {fill: @claro;}
            100% {stroke-dashoffset: 0;}
        }

        // estilo V
        .sp-v {
            .comun2;
            stroke-dasharray: 2180;
            animation: animacionV 2s linear; 
        }
        @keyframes animacionV {
            0% {stroke-dashoffset: 2180; fill: transparent;}
            85% {fill: transparent;}
            99% {fill: @claro;}
            100% {stroke-dashoffset: 0;}
        }

        // estilo N
        .sp-n {
            .comun2;
            stroke-dasharray: 3070;
            animation: animacionN 2s linear; 
        }
        @keyframes animacionN {
            0% {stroke-dashoffset: 3070; fill: transparent;}
            85% {fill: transparent;}
            99% {fill: @claro;}
            100% {stroke-dashoffset: 0;}
        }
        
        // estilo de las letras diminutas
        .diminutas {
            x: 898.439px;
            animation: animacionDiminutas 2s linear; 
        }
         @keyframes animacionDiminutas {
            0% {x: -10000px;}
            100% {x: 898.439px;}
        }
    }
    img{
        // position: absolute;
        // bottom: 20%;
        // left: 50%;
        // .transform(translate(-50%, 0));
        animation: wow 4s forwards;
        margin-top: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    @keyframes wow{
        0%{
            width: 0px;
        }
        50%{
            width: 0px;
        }
        100%{
            width: 200px;
        }
    }
}
