// base
@import "base.less";

// mixins
@import "mixins.less";

// home
@import "home.less";

// menu
@import "menu.less";

// single
@import "single.less";

// single
@import "formulario.less";

h1, h2, h3, h4, h5 {
  color: @primario;
  font-family: @fuenteEspecial;
  margin-bottom: @fontSize;
}
h1 { .font-size(2);}
h2 { .font-size(1.8);}
h3 { .font-size(1.5);}
h4 { .font-size(1.3);}
h5 { .font-size(1.1);}

a, a:visited {
  color: @primario;
  text-decoration: none;
  font-family: @fuenteEspecial;
}
a:hover, a:focus{
  color: @primario;
}
p {
  margin-bottom: @fontSize * 0.6;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
  overflow: hidden !important;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: @fuenteComun;
    font-size:@fontSize;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
    overflow-x: hidden;
}
.walpper-app {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
}
.section-app {
  width: 100%;
  height: 100vh;
}