.section-app.formulario {
	background-image: url('@{imgurl}fondo-menu.jpg');
	background-size: 100%;
	background-position: center;
	position: absolute;
	right: -1500px;
	top: 0;
	z-index: 1;
	.transition(all, 0.4, ease, 0.1);
	.sombra(0,0,4,0,0.5);
	.logo {
		margin: 20px auto;
		text-align: center;
		img {
			max-width: 150px;
		}
	}
	.contenerdor {
		width: 90%;
		margin: 20px auto 0px auto;
		text-align: center;
		form {
			input {
				display: inline-block;
				width: 100%;
				margin: 10px auto;
				text-align: left;
				padding-top: 9px;
				padding-bottom: 9px;
				padding-left: 7px;
				padding-right: 0px;
				background-color: #ececec;
				color: #666;
				border: none;
				border-radius: 50px;
				.sombra(2,2,7,0,0.3);
				.font-size(0.9);
				font-family: @fuenteEspecial;
				.transition(all, 0.2);
				&:active {
					outline: none;
					.sombra(0,0,0,0,0);
				}
			}
			a.enviar {
				display: inline-block;
				padding-top: 9px;
				padding-bottom: 9px;
				padding-left: 35px;
				padding-right: 35px;
				text-align: center;
				margin: 5px auto;
				background-color: #2a5aa2;
				color: #fff;
				border-radius: 50px;
				.sombra(2,2,7,0,0.3);
				.font-size(0.9);
				font-family: @fuenteEspecial;
				position: relative;
				.transition(all, 0.2);
				&:active {
					outline: none;
					.sombra(0,0,0,0,0);
				}
			}
		}
		a.volver {
			display: inline-block;
			padding-top: 9px;
			padding-bottom: 9px;
			padding-left: 55px;
			padding-right: 20px;
			text-align: center;
			margin: 5px auto;
			background-color: #ececec;
			color: #666;
			border-radius: 50px;
			.sombra(2,2,7,0,0.3);
			.font-size(0.9);
			font-family: @fuenteEspecial;
			position: relative;
			.transition(all, 0.2);
			&:active {
				outline: none;
				.sombra(0,0,0,0,0);
			}
			&::before {
				content: '';
				display: block;
				width: 37px;
				height: 30px;
				position: absolute;
				top: 50%;
				left: 5px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 70%;
				border-right: 1px solid #c3c3c3;
				.transform(translateY(-50%));
				background-image: url('@{imgurl}volver.png');
			}
		}
	}

	.logo-bottom {
		margin: 25px auto 0 auto;
		text-align: center;
		img {
			max-width: 100px;
		}
	}
}
