.section-app.home {
    background-image: url('@{imgurl}ubi.png');
    background-size: 78%;
    background-position: center 35%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    .logo {
        padding-top: 20px;
        text-align: center;
        img {
            max-width: 150px;
        }
    }
    .integra {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 120px;
        .transform(translateX(-50%));
        h3 {
            margin: 0;
            .font-size(1.3);
            color: #666;
            font-weight: 600;
        }
        img {
            max-width: 45px;
        }
    }

    .planesytours {
        display: inline-block;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 80%;
        text-align: center;
        margin: 5px;
        background-color: #ececec;
        color: #666;
        border-radius: 50px;
        .sombra(2,2,7,0,0.3);
        .font-size(0.9);
        font-family: @fuenteEspecial;
        position: absolute;
        left: 50%;
        top: 55%;
        .transform(translateX(-50%) translateY(-50%));
        .transition(all, 0.2);
        &:active {
            outline: none;
            .sombra(0,0,0,0,0);
        }
    }


   .logo-bottom {
        position: absolute;
        left: 50%;
        bottom: 35px;
        .transform(translateX(-50%));
        text-align: center;
        img {
            max-width: 100px;
        }
    }
    
}